type hal_fod_raphael, coredomain, domain;
hal_server_domain(hal_fod_raphael, hal_lineage_fod)

# Allow access to the HALs
hal_client_domain(hal_fod_raphael, hal_fingerprint)

type hal_fod_raphael_exec, exec_type, system_file_type, file_type; 
init_daemon_domain(hal_fod_raphael)
